@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Edu+SA+Beginner&family=Ibarra+Real+Nova:ital@1&display=swap');

.Splash{
  text-align: center;
  height: 40vh;
  background-image: url("../images/career&tech.png"); ;
  background-size: cover;
  background-position: center;
  border-bottom: 3px
}

.Splash .text {
	color: white;
	font-weight: 600;
}

.Splash .primary {
	font-size: rem;
	padding-top: 12vh;
}

.Splash .secondary {
	font-size: 3rem;
} 
.Splash{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    


}
 